
.list-bullets {
    list-style: none;
}

.list-bullets li {
    display: flex;
    align-items: center;
}

.list-bullets li::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #5784d7;
    border: 2px solid #8fb3f5;
    display: block;
    margin-right: 1rem;
}

/* Unordered list with custom numbers style */
ol.custom-numbers {
    list-style: none;
}

ol.custom-numbers li {
    counter-increment: my-awesome-counter;
}

ol.custom-numbers li::before {
    content: counter(my-awesome-counter) ". ";
    color: #2b90d9;
    font-weight: bold;
}


/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
    min-height: 100vh;
    background-color: #6190e8;
    background-image: linear-gradient(to right, #5784d7 0%, #a7bfe8 100%);
}

.mb_2 {
    font-style: italic;
}

.pagination-outer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float:none;

}
.pagination{
    font-family: 'Ubuntu', sans-serif;
    display: inline-flex;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.pagination li a.page-link{
    color: #333;
    background-color: #e9e9e9;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    height: 40px;
    width: 35px;
    padding: 0;
    margin: 0 7px 6px;
    border: none;
    border-radius: 0;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease 0s;
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link{
    color: #fff;
    background: #e9e9e9;
}
.pagination li a.page-link:before,
.pagination li a.page-link:after{
    content: '';
    background-color: #333;
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
.pagination li a.page-link:after{
    background: linear-gradient(#1dd1a1 50%, #10ac84 50%);
    height: 12px;
    transform: scaleX(0);
    bottom: -6px;
}
.pagination li a.page-link:hover:before,
.pagination li a.page-link:focus:before,
.pagination li.active a.page-link:hover:before,
.pagination li.active a.page-link:before{
    height: 100%;
}
.pagination li a.page-link:hover:after,
.pagination li a.page-link:focus:after,
.pagination li.active a.page-link:hover:after,
.pagination li.active a.page-link:after{
    transform: scaleX(0.25);
}
@media only screen and (max-width: 480px){
    .pagination{
        font-size: 0;
        display: inline-block;
       
    }
    .pagination li{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 10px;
    }
}
.input1 {
    display:block
}